body,html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $black;
    width: 100%;
    scroll-behavior: smooth; 
}

.navbar {
    display: none; 
}
.gray-color {
    color: $light-gray;
}

#banner {

    .banner-image {
        height: 448px;

        @include media-breakpoint-down (sm) {
            margin-bottom: 50px;
          }
        

        .shade {
            height: 448px;
            background-color: rgba(0, 0, 0, 0.37);
        }
        h2 {
            text-align: center;
            padding-top: 123px;
            color: $white;
            font-size: 40px;
            font-weight: bold;

            @include media-breakpoint-down (sm) {
                font-size: 36px;
                margin: 0 30px 0 30px;
                padding-top: 50px;
              }
        }

        p {
            font-size: 20px;
            color: $white;
            text-align: center;
            margin-top: 22px;
        }
    }
}

#slogan {

    .redirect{
        text-align: center;
        padding-top: 44px;

        h2 {
            color: $white;
            font-size: 36px;
            font-weight: bold;
        }

        .text {
            color: $light-gray;
            font-size: 24px;
            margin-top: 26px;
            font-weight: -200;

            .bold {
                font-weight: bold;
                color: $white;
            }
        }

        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 241px;
            margin-top: 24px;

            .button {
                background-color: $primary;
                color: $white;
                padding: 15px 40px;
                font-size: 24px;
                border-radius: 10px;
                font-weight: bold;
            }
        }



        .date {
            color: $gray2;
            font-size: 16px;
            margin-top: 16px;
        }
        
    }
}

#description {
    margin-top: 93px;
    
    .video {
        
        iframe {
            width: 100%;
            height: 382px;

            @include media-breakpoint-down (sm) {
                width: 100%;
                height: 259px;
              }
        }
    }

    .content {

        p{
            color: $white;
            font-size: 22px;
        }
    }


}

.info {
  margin-top: 42px;
        
  p {
      color: $white;
      font-size: 20px;

      @include media-breakpoint-down (sm) {
        text-align: left;
      }
  }
}

#cards {
    margin-top: 56px;

    .content {
        
        h2 {
            color: $white;
            text-align: center;
            font-size: 34px;
            font-weight: bold;
        }
    }

    .cards-row {
        margin-top: 56px;

        img {
            width: 351px;
            @include media-breakpoint-down (sm) {
                width: 100%;
              }
        }

        h3 {
            color: $white;
            font-size: 24px;
            margin-top: 36px;
            font-weight: bold;
        }



        p {
            color: $white;
            font-size: 16px;
            margin-top: 10px;
        }
    }

    .links {

        p {
            font-size: 18px;
            margin-top: 86px;
        }

        a {
            text-decoration: underline;
            color: #ffffff;
            font-size: 20px;
            margin-top: -10px;
        }
    }
}

#list {
  margin-top: 51px;
  .title {
    margin-bottom: 74px;
    h2 {
      color: $white;
      font-size: 34px;
      text-align: center;
    }
  }

  .item {
    margin-top: 50px;

    .number {
        height: 58px;
        width: 58px;
        color: $white;
        padding: 13px 0px 0px 21.5px;
        border: $gray2 2px solid;
        border-radius: 100%;
        font-size: 20px;
        font-weight: bolder;

        
    }

    .text {
      color: $white;
      font-size: 20px;
    }
  }
}


#sponsors {
  margin-top: 154px;

  p {
    @include media-breakpoint-down (sm) {
        margin-top: 26px;
        margin-bottom: 26px;
        width: 100%;
      }
}

  .item {
    margin-top: 163px;

    p {
      color: $white;
      font-size: 16px;
      
    }

    a {       
        img {

            @include media-breakpoint-down (sm) {
                width: 100%;
                text-align: center;
            }
        }
    }


    .sponsor-image {

        @include media-breakpoint-down (sm) {
            width: 225px;
            display: flex;
            margin-right: auto;
            margin-left: auto;

          }
    }

    .links {



      a{
        margin-right: 13px;
      }
      img {
        @include media-breakpoint-down (sm) {
            width: 34px;
          }
      }

      @include media-breakpoint-down (sm) {
    text-align: center;
      }
    }
  }


}


#footer {
  margin-top: 87px;

  p {
    color: $light-gray;
    font-size: 18px;
    text-align: center;

  }

  .center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 241px;
    margin-top: 24px;

    .button {
        background-color: $primary;
        color: $white;
        padding: 15px 65px;
        font-size: 24px;
        border-radius: 10px;
        font-weight: bold;
    }
}

.bottom {
  margin-top: 23px;
  margin-bottom: 103px;
}
}

#form {
    margin-top: 131px;

    .format-text {
        
        p {
            color: $white;
            font-size: 14px;
        }

    }

    .checkbox {
        width: 500px;
        position: relative;
        padding: 20px 10px 20px 15px;
        margin-left: 10px;
        top: -70px;
        z-index: 30;
        .checkbox-style {
            width: 28px;
            height: 28px;
            outline: none;
            border-radius: 30%;

            @include media-breakpoint-down (sm) {
                width: 38px !important;
              }
    
        }
        
        p {
            font-size: 12px;
            color: $white;

            @include media-breakpoint-down (sm) {
               font-size: 10px;
            }
        }
    }

    h3 {
        font-size: 34px;
        font-weight: bolder;
    }

    .form-style {

        margin-top: -50px;



        ._submit {
            background-color: $primary !important;
            position: relative !important;
            top: 120px !important;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 257px !important;
            padding-left: 30px !important;
            font-size: 24px !important;
            font-weight: bold !important;
            z-index: 10;




            

        }

        .carica-submit {
            background-color: $primary !important;
            position: relative !important;
            top: 90px !important;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 257px !important;
            padding-left: 30px !important;
            font-size: 24px !important;
            font-weight: bold !important;
            z-index: 10;
        }

        ._form-title {
            display: none;
        }

        ._form-branding {
            display: none;
        }

        label {
            color: $white;
            font-size: 20px;
            margin-top: 33px;
        }

        input {
            border-radius: 12px !important;
            height: 53px !important;
            width: 444px !important;

            @include media-breakpoint-down (sm) {
                width: 100% !important;
              }
        }


    }
}

.upload {
    position: relative;
    top: 75px !important;
    left: -95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 15;

}

.center-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#errors {
    position: absolute;
    width: 100%;
    margin-top: -180px;

    @include media-breakpoint-down (sm) {
        position: initial;
        margin-top: 0;
      }

    .graybox {
        width: 100%;
        height: 112px;
        background-color: $gray;
        border-radius: 10px;
        margin-top: 50px;

        p {
            color: $white;
            padding: 20px;
        }

        .image-col {
            position: relative;
            left: 20px;
            top: 35px;
        }
    }


}

.hide {
    display: none !important;
}

